---
title: Home
layout: default
---

<div class="container">
    {% assign topics = site.data.keys %}
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                   <tr>
                      <th>Topic</th>
                      <th>Word Count</th>
                      <th>Words</th>
                   </tr>
                </thead>
                <tbody>
                {% for t in topics %}
                <tr>
                   <td class="topic">{{ t.topic }}</td>
                   <td class="count center">{{ t.tokencount }}</td>
                   <td class="words">{{ t.words }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include feature/topic-chart.html topic="energy" %}
    
</div>